body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    z-index: 1000;

}

#scroll-to-top-link {
    text-decoration: none;
}

#scroll-to-top-link :hover{
    transform: scale(1.1);
}

#scroll-to-top-link img {
    width: 48px;
    height: 48px;
}


.social-icons {
    text-align: center;
    margin-top: 4cm;
}

.icon {
    display: inline-block;
    padding: 0 20px;
}

/* Style the individual social media image icons */
.icon img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    transition: transform 0.2s; /* Add a transform transition on hover */
}

/* Hover effect for the icons */
.icon img:hover {
    transform: scale(1.2); /* Increase the size on hover */
}


header {
    background-image: url('Resources/steptodown.com901450.jpg');
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 50px 40px;
    height: 13cm;
    display: flex;
    flex-direction: column;
    align-items:center;
}
header h1{
    font-size: 60px;
    margin-left: 40px;
}
header p{
    font-size: 25px;margin-top: 50px;
    margin-left: 40px;
}

header button{
    border: 1px solid #404040;
    border-radius: 30px;
    margin-left: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #3a3a3a;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav li {
    font-weight: bold;
    font-size: 18px;
    margin: 0 15px; /* Add margin between items for spacing */
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(237, 237, 237);
    position: relative;
    padding: 20px;
    transition: color 0.3s; /* Smooth color transition on hover */
}

nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #737373; /* Line under the item */
    transform: scaleX(0); /* Start with no width */
    transform-origin: center;
    transition: transform 0.3s; /* Smooth line animation */
}

nav a:hover {
    color: #a2a2a2; /* Change text color on hover */
    text-decoration: none;
}

nav a:hover::before {
    transform: scaleX(1); /* Expand the line on hover */
}

nav h3{
    color: rgb(237, 237, 237);margin-left: 40px;
}

#more-about-button {
    background-color: #303030;
    color: white;
    border: none;
    padding: 15px 30px;
    margin-top: 40px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    position: absolute;
    margin-top: 4cm;
}

#more-about-button:hover {
    background-color: #3a3a3a;
    transform: scale(1.05);
}
/* Additional styling can be added as needed */

.profile-container {
    display: flex;
    max-width: 100%;
    align-items: center;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    margin-top: 13px;
    background: rgb(255, 221, 176);
}

.profile-image {
    flex: 1; /* Take up 50% of the width */
    text-align: center;
}

.profile-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: -3px;
}

.profile-description{
    flex: 1;
    display: flex;flex-direction: column;align-items: center;
    width: 50%;
    justify-content: space-evenly;
}
.profile-description h1{
    color: rgb(46, 46, 46);font-size: 30px;
}
.profile-description p{
    text-align: justify; width: 80%;line-height: 1.7;
}

h1 {
    font-size: 24px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;

}

a {
    text-decoration: none;
    color: #0077b5;
}

a:hover {
    text-decoration: underline;
}
/* Add CSS to style the "Skills" section with button-shaped skills */
#skills {
    padding: 20px;
    text-align: center;
    width: 50%;
    background: rgb(135, 242, 231); 
}

#skills h2 {
    font-size: 24px;
    color: rgb(46, 46, 46);
    font-size: 30px;
}

.skill-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #404040;
    border-radius: 20px;
    background-color: #404040;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.skill-container{
    display: flex;
    max-width: 100%;
    align-items: center;
    margin: 25px 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: rgb(135, 242, 231);    
}

.skill-button:hover {
    background-color: #959595;
}

.skill-image{
    flex: 1;
    text-align: center;
}

.skill-image img{
    max-width: 100%;
    height: auto;
    margin-bottom: -3px;
}
/* Styling for the "Download My CV" section */
#cv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 50%;
}

#cv h2 {
    font-size: 24px;
    color: #333;
}

#cv p {
    font-size: 16px;
    text-align: justify;
    width: 80%;
    line-height: 1.7;
}

/* Styling for the CV button */
#cv-button {
    background-color: #404040;
    margin-top: 30px;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    width: 4cm;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

#cv-button:hover {
    background-color: #959595;
    transform: scale(1.05);
}

/* Styling for the footer and contact information */
footer {
    color: rgb(76, 76, 76);
    text-align: center;
    padding: 20px;
    height: 8cm;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    margin-top: 10px;
}


#contact-info a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#call-me{
    position: absolute;
    margin-left: 30cm;
}

#contact-info a:hover {
    color: #c0c0c0;
}

footer h1{
    color: rgb(46, 46, 46);
    font-size: 30px;

}

footer .main{
    margin-top: 40px;
}

#contact-info img {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}

#find-me{
    width: 20%;
    position: absolute;
    margin-left: 2cm;
}

#find-me img{
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}
#find-me p,h3{
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#call-me img{
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}
#contact-info{
    position: absolute;
    margin-left: 15.5cm;
}



/* ###################################### */

.navbar {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background: white;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    transition: max-height 0.5s;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer div{
    display: flex; flex-direction: column;
}
@media (max-width: 750px) {
    .menu-btn {
        display: flex;
    }

    .social-icons{
        padding: 15px ;
        margin-top: 1cm;
        margin-left: -25px;
    }
    
    header{
        height: 11cm;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background: #333;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    nav ul{
        display: none;
    }

    header h1{
        font-size: 33px;
        padding-right: 10px;
        margin-left: -5px;
    }


    header p{
        font-size: 18px;
        margin-top: 20px;
        margin-left: -5px;
    }
    
    #more-about-button{ 
        border: 1px solid #303030;
        border-radius: 30px;
        background-color: #303030;
        margin-left: -5px;
        margin-top: 2.5cm;
        position: static;
        color: white;
        border: none;
        padding: 15px 30px; /* Adjust padding to make the button smaller */
        font-size: 14px; /* Adjust the font size to your preference */
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s ease-in-out;
    }
    .profile-image{
        display: none;
    }
    .skill-image{
        display: none;
    }
    #skills {
        padding: 60px 10px;
        text-align: center;
        background: rgb(135, 242, 231); 
        width: 100%;
    }

    #cv {
        width: 100%;
        background: rgb(255, 221, 176);
        padding: 50px 10px;
    }
    .profile-description{
        background: rgb(255, 221, 176);
        padding: 50px 10px;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-items: center;
        height: 18cm;
    }

    footer .main{
        align-items: center;
    }

    #find-me{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 5cm;
        align-items: center;
        width: 100%;

    }

    #call-me{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:-3cm;
        margin-left: -3cm;
        width: 100%;
    }

    #contact-info{
        margin-left: -10px;
    }


}
@media (min-width: 751px) {
    div.navbar{
        display: none;
    }
}
